/* resources/css/app.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: sans-serif;
    height: 100%;
}

html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content{
    flex: 1;
}

footer{
    background-color: #363a4f;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    margin-bottom: 0px;

}

